:root {
  --table-stripe-bg: #f8f8f8;
  --inline-code-bg: #eee;
  --vp-layout-max-width: 100vw;
}

@media (min-width: 1920px) {
  :root {
    --vp-layout-max-width: 1920px;
  }
}

.VPDoc.has-aside .content .content-container {
  max-width: unset;
}

.dark {
  --table-stripe-bg: var(--vp-c-bg-soft);
  --inline-code-bg: var(--vp-c-mute);
}

.vp-doc tr:nth-child(2n) {
  background-color: var(--table-stripe-bg);
}

.vp-doc :not(pre) > code {
  background-color: var(--inline-code-bg);
}

.vp-doc td {
  white-space: nowrap;
}
